@nf-data-iu3:registry=https://gitlab.fht.org/api/v4/packages/npm/

@scope:registry=https://gitlab.fht.org/api/v4/projects/${PACKAGE_REGISTRY_PROJECT_ID}/packages/npm/
//gitlab.fht.org/api/v4/projects/${PACKAGE_REGISTRY_PROJECT_ID}/packages/npm/:_authToken="${CI_JOB_TOKEN}"