// VARIABLES
:root {
  // Neutral: GREY
  --color-grey-background: #fcfcfc;
  --color-grey-lighter: #f0f0f0;
  --color-grey-light: #e0e0e0;
  --color-grey-medium: #a0a0a0;
  --color-grey-dark: #707070;
  --color-grey-darker: #585858;
  --color-grey-text: #484848;

  // Primary: BLUE
  --color-blue-text: #15417c;
  --color-blue-darker: #1f59a0;
  --color-blue-dark: #007cbd;
  --color-blue: #009de0;
  --color-blue-light: #4ab4e1;
  --color-blue-lighter: #b1d4e3;

  // Secondary: GREEN
  --color-darker: #6caf51;
  --color-green-dark: #77c15a;
  --color-green: #83d661;
  --color-green-light: #9add7f;
  --color-green-lighetr: #caefbb;

  // Tertiary: TEAL
  --color-teal-darker: #229f9d;
  --color-teal-dark: #2fb5b3;
  --color-teal: #31ccc9;
  --color-teal-light: #30ddda;
  --color-teal-lighter: #a2f6f4;

  /*   --color-gradient-blue-0: #008ed3;
  --color-gradient-blue-100: rgba(0, 173, 238, 1);
  --color-gradient-green-0: #8bc53f;
  --color-gradient-green-100: #96c63f; */

  --color-gradient-ht-theme: linear-gradient(
    to right,
    var(--color-blue) 0%,
    var(--color-blue-light) 15%,
    var(--color-green) 85%,
    var(--color-green-dark) 100%
  );

  --color-content-1: rgb(232, 232, 253);
  --color-content-2: rgb(212, 255, 208);
  --color-content-3: rgb(163, 210, 253);

  --shadow-medium: 0 8px 16px rgba(0, 0, 0, 0.3);
}

// BASIC CSS RULES
html {
  font-size: 62.5%;
  box-sizing: border-box;

  @media only screen and (min-width: 1200px) {
    font-size: 72.5%;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
