// variables with disabled inheritance
* {
  --border-color: initial;

  --padding-block: initial;
  --padding-inline: initial;

  --flex-gap: initial;

  --grid-gap: initial;
  --grid-row-gap: initial;
  --grid-column-gap: initial;
  --grid-placement: initial;
  --grid-min-item-size: initial;
}
