///////////////////////////////////////////////
// CARD
.card {
  box-shadow: var(--shadow-medium);
  padding: var(--component-padding);
}

/////////////////////////////////////////////////
// NOTIFICATIONS CONTAINER
.notifications-container {
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: var(--component-padding);
  gap: 1em;
  width: 25%;

  @media only screen and (max-width: 700px) {
    width: 100%;
  }
}

/////////////////////////////////////////////////
// MODAL
.modal {
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.8);

  display: flex;
  justify-content: center;
  padding: 2em 1em;

  &__dialog {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: v-bind(width);

    //flex: 1 1 120rem;
    margin-left: auto;
    margin-right: auto;
    //margin-top: 2em;
    //max-width: 120rem;
    background-color: #ffffff;
    position: relative;
    height: fit-content;
    border-radius: 5px;
    z-index: 2;
  }
  &__close {
    position: absolute;
    right: 1em;
    top: 1em;
    width: 3rem;
    height: 3rem;
    opacity: 0.3;

    &:hover {
      opacity: 1;
    }
    &:before,
    &:after {
      position: absolute;
      content: " ";
      height: 33px;
      width: 2px;
      background-color: #333;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }

  &__header,
  &__footer,
  &__body {
    padding: 1em 2em;
    text-align: center;
  }
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/////////////////////////////////////////////////
// NOTIFICATIONS
.notification {
  display: flex;
  flex-direction: column-reverse;
  gap: 1em;

  &__content {
    overflow: auto;
    height: 10rem;
  }

  &__bar {
    width: 40rem;
    padding: 1em 1.2em;
    position: relative;
    border-radius: 4px;
    color: white;

    &--success {
      background-color: #43d787;

      &__close {
        border-color: green;
      }
      .notification__close:before,
      .notification__close:after {
        background-color: green;
      }
    }

    &--error {
      background-color: #fa461d;

      &__close {
        border-color: red;
      }

      .notification__close:before,
      .notification__close:after {
        background-color: red;
      }
    }
  }

  &__title {
    font-size: 2rem;
    font-weight: 600;
    color: white;
  }

  &__close {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 24px;
    height: 24px;
    opacity: 0.3;
    background-color: white;
    border: 1px solid;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.1s ease-in;

    &:hover {
      opacity: 1;
    }

    &:before,
    &:after {
      position: absolute;
      left: 10px;
      top: 5px;
      content: " ";
      height: 12px;
      width: 2px;
      opacity: 0.7;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}

/////////////////////////////////////////////////
// OVERLAY
.overlay {
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.8);
}
