/************************************************************************/
/* MIXED RULES                                                          */
/************************************************************************/
a,
button,
input[type="file"],
::file-selector-button {
  cursor: pointer;
}

dialog,
input[type="text"],
input[type="email"],
input[type="number"],
input[type="file"],
input[type="search"],
textarea,
select,
.ht-card {
  border: 1px solid
    var(--border-color, var(--ht-color-gray-1));
  border-radius: var(--radius-2);
}

dialog,
button,
.ht-toast,
.ht-button,
.ht-container {
  padding: var(--padding-block, 1em) var(--padding-inline, 2em);
}

/************************************************************************/
/* LINKS                                                                */
/************************************************************************/
a.ht-reset,
a.ht-reset:hover,
a.ht-reset:active,
a.ht-reset:visited {
  color: var(--link-text-color, inherit);
  text-decoration: none;
}

a {
  color: var(--ht-color-accent);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:active,
  &:visited {
    color: var(--violet-3);
  }
}

/************************************************************************/
/* LISTS                                                                */
/************************************************************************/
ul,
ol {
  padding: 0;
  margin: 0;
  margin-left: var(--list-margin, 2em);
}

ol.ht-reset,
ul.ht-reset {
  margin-left: 0;
  list-style: none;
}

/************************************************************************/
/* MODAL                                                                */
/************************************************************************/
dialog {
  margin: auto;
  background-color: var(--ht-surface-1);

  &::backdrop {
    background: rgba(0, 0, 0, 0.8);
  }
}

/************************************************************************/
/* BUTTONS                                                              */
/************************************************************************/

button.ht-reset,
button.ht-reset:hover,
button.ht-reset:active {
  border: none;
  background-color: transparent;
  text-decoration: none;
  padding: 0;
  color: var(--button-text-color, inherit);
}

// For buttons, we avoid providing styling hooks for colors. This requires too much customization,
// taking into account also hover color changes. For very customized button needs, it is better to create a new class and style colors explicitly
button,
a.ht-button {

  // underscore variables are intended to be 'private'
  --_button-color: var(--ht-color-primary);

  border: 2px solid var(--_button-color);
  border-radius: var(--radius-5);

  display: inline-block;

  text-decoration: none;
  background-color: var(--_button-color);

  font-size: var(--button-font-size, inherit);

  color: white;
  text-align: center;
  vertical-align: middle;

  transition:
    background-color 200ms ease-in,
    border-color 200ms ease-in,
    color 200ms ease-in;

  &:hover,
  &:active {
    --_button-color: var(--ht-color-primary-lighter);
  }

  &[data-type="secondary"] {
    --_button-color: var(--ht-color-secondary);

    &:hover,
    &:active {
      --_button-color: var(--ht-color-secondary-lighter);
    }
  }

  &[data-type="ghost"] {
    background-color: transparent;
    --_button-color: var(--ht-color-tertiary);
    color: var(--_button-color);

    &:hover,
    &:active {
      color: white;
      background-color: var(--_button-color);
    }
  }
}

/************************************************************************/
/* INPUTS                                                               */
/************************************************************************/

.ht-input-error-message {
  font-size: var(--error-font-size, --font-size-0);
  color: var(--ht-color-red);
}
///////////////////////////////////////////////
// TEXT INPUT
input[type="text"],
input[type="email"],
input[type="number"],
input[type="file"],
input[type="search"],
textarea,
select {
  background-color: var(--ht-color-gray-2);
  padding: var(--size-2);

  outline: none;
  min-height: 3rem;

  color: var(--ht-text-color-1);

  &::placeholder {
    color: var(--ht-color-gray-3);
  }

  &:focus {
    --border-color: var(--ht-color-primary);
  }

  &[aria-invalid="true"] {
    --border-color: var(--ht-color-red);
  }
}

input[type="file"] {
  &::file-selector-button {
    border: none;
    color: white;
    background-color: var(--ht-color-primary);
    padding: 0.5em 1em;
    border-radius: var(--radius-2);
  }
}

textarea {
  min-height: 5rem;
  resize: vertical;
}

select {
  padding-block: calc(1rem - 4px); //to make it identical to other input heights
}

///////////////////////////////////////////////
// CHECKBOX AND RADIO
input[type='checkbox'],
input[type="radio"] {
  --input-control-size: var(--font-size-4);

  height: var(--input-control-size);
  aspect-ratio: 1 / 1;
}


input[type='checkbox'] {
  accent-color: var(--checkbox-color, var(--ht-color-accent));
}

input[type='radio'] {
  accent-color: var(--radio-color, var(--ht-color-accent));
}


.ht-radiogroup {
  display: flex;
  gap: var(--size-5);

  @media only screen and (max-width: 50rem) {
    flex-direction: column;
  }
}

///////////////////////////////////////////////
// TOGGLE SWITCH
input[type="checkbox"][role="switch"] {
  appearance: none;
  width: 3rem;

  --_switch-color: var(--switch-color, var(--ht-color-primary));
  border: 1px solid var(--_switch-color);

  border-radius: 20rem;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    left: 0.12rem;
    top: 0.12rem;
    height: calc(var(--input-control-size) - 6px);
    aspect-ratio: 1 / 1;
    border-radius: var(--radius-round);
    background-color: var(--_switch-color);
    transition: transform 0.2s ease;
  }

  &:checked:after {
    transform: translate(1.5rem);
  }
}

///////////////////////////////////////////////
// PROGRESS INPUT
progress {
  --_progress-color: var(--progress-color, var(--ht-color-accent));
  --_progress-background: var(--progress-background, transparent);
  border: 1px solid var(--_progress-color);
  border-radius: var(--radius-round);
  background-color: var(--_progress-background);

  height: 0.6rem;
  width: var(--progress-width, 100%);

  // NOTE: do not group this selectors, otherwise they stop working
  &::-moz-progress-bar {
    background-color: var(--_progress-color);
    border-radius: var(--radius-round);
  }

  &::-webkit-progress-bar {
    background-color: var(--_progress-background);
  }

  &::-webkit-progress-value {
    background-color: var(--_progress-color);
  }
}

/************************************************************************/
/* TOAST                                                                */
/************************************************************************/
.ht-toast {
  background-color: var(--ht-color-green);
  color: white;
  position: relative;

  border-radius: var(--radius-2);

  z-index: var(--layer-1);

  & > p {
    height: 5rem;
    overflow: scroll;
  }

  & > h2 {
    font-size: var(--font-size-4);
    font-weight: bold;
    line-height: var(--font-lineheight-1);
    margin-bottom: var(--size-2);
    color: white;
  }

  & > button {
    width: 17px;

    position: absolute;
    right: .5em;
    top: 1em;

    &:before,
    &:after {
      position: absolute;
      left: 0px;
      top: 0px;
      content: "";
      height: 17px;
      width: 4px;
      background-color: white;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }

  &[data-type="error"] {
    background-color: var(--ht-color-red);
  }

  &[data-type="warning"] {
    background-color: var(--ht-color-yellow);
  }
}

/************************************************************************/
/* INDICATORS                                                           */
/************************************************************************/
.ht-number-indicator {

  --indicator-border-color: var(--ht-color-primary);
  --indicator-text-color: var(--ht-color-primary);
  --indicator-background-color: transparent;

  display: grid;
  place-items: center;

  border-radius: var(--radius-round);
  border: 1px solid var(--indicator-border-color);

  color: var(--indicator-text-color);

  background-color: var(--indicator-background-color);

  aspect-ratio: 1;
  width: var(--indicator-size, 2.5em);

  &[aria-current="step"],
  &[aria-current="true"],
  &[aria-current="page"],
  &[data-state="completed"],
  &[data-state="selected"] {
    --indicator-background-color: var(--ht-color-primary);
    --indicator-text-color: white;
  }

  &[aria-disabled="true"],
  &[data-state="disabled"] {
    cursor: not-allowed;
    --indicator-border-color: var(--ht-color-gray-1);
    --indicator-text-color: var(--ht-color-gray-1);
  }
}

/************************************************************************/
/* ERROR MESSAGE                                                        */
/************************************************************************/
.ht-error-message {
  color: var(--ht-color-red);
}