/*
 * Please Note: these classes should be used AS THEY ARE. Think of them as ways to quickly setup layouts.
 * If you need something more customized, start from scratch with a brand new custon class and declare all needed proerties inside it.
 */

/************************************************************************/
/* WRAPPER FOR LARGE SCREENS                                            */
/************************************************************************/
.ht-wrapper {
  width: min(var(--wrapper-width, 80rem), 100% - 2em);
  margin-inline: auto;
}

/************************************************************************/
/* FLEX                                                                 */
/************************************************************************/
.ht-flex {
  display: flex;
  gap: var(--flex-gap, 1em);
}

.ht-flex-justify-center {
  display: flex;
  gap: var(--flex-gap, 1em);
  justify-content: center;
}

.ht-flex-align-center {
  display: flex;
  gap: var(--flex-gap, 1em);
  align-items: center;
}

.ht-flex-center-xy {
  display: flex;
  gap: var(--flex-gap, 1em);
  align-items: center;
  justify-content: center;
}

/************************************************************************/
/* STACK                                                                */
/************************************************************************/
.ht-layout-stack > * + * {
  margin-top: var(--stack-space, 1em);
}

/************************************************************************/
/* GRID                                                                 */
/************************************************************************/
.ht-grid-auto {
  display: grid;
  --_grid-gap: var(--grid-gap, 1rem);
  column-gap: var(--grid-column-gap, var(--_grid-gap));
  row-gap: var(--grid-row-gap, var(--_grid-gap));
  grid-template-columns: repeat(
    var(--grid-placement, auto-fill),
    minmax(var(--grid-min-item-size, 16rem), 1fr)
  );
}

/* These classes are meant to center one single child block, DO NOT USE THEM AS STANDARD GRID LAYOUTS */
.ht-grid-center-x {
  display: grid;
  justify-items: center;
}

.ht-grid-center-y {
  display: grid;
  align-items: center;
}

.ht-grid-center-xy {
  display: grid;
  place-items: center;
}
