.htdu-margintop--xxs {
  margin-top: var(--size-1);
}

.htdu-margintop--xs {
  margin-top: var(--size-2);
}

.htdu-margintop--sm {
  margin-top: var(--size-3);
}

.htdu-margintop--md {
  margin-top: var(--size-4);
}

.htdu-margintop--lg {
  margin-top: var(--size-5);
}

.htdu-margintop--xl {
  margin-top: var(--size-6);
}

.htdu-margintop--xxl {
  margin-top: var(--size-7);
}

.htdu-marginbottom--xxs {
  margin-bottom: var(--size-1);
}

.htdu-marginbottom--xs {
  margin-bottom: var(--size-2);
}

.htdu-marginbottom--sm {
  margin-bottom: var(--size-3);
}

.htdu-marginbottom--md {
  margin-bottom: var(--size-4);
}

.htdu-marginbottom--lg {
  margin-bottom: var(--size-5);
}

.htdu-marginbottom--xl {
  margin-bottom: var(--size-6);
}

.htdu-marginbottom--xxl {
  margin-bottom: var(--size-7);
}
