html,
svg text {
  font-family: var(--font-sans);
  line-height: var(--font-lineheight-4);
}

html {
  color: var(--ht-text-color-1);
}

svg.ht-chart text {
  color: var(--text-color-1-light);
}

// NOTE: heading tags should have a semantic meaning. There is no point in styling them without knowing the context
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: var(--font-weight-4);
}

body {
  line-height: var(--font-lineheight-4);
}

.ht-chart-title {
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-5);
}
