:where(h1, h2, h3, h4, h5, h6) {
  font-weight: var(--font-weight-7);
  line-height: var(--font-lineheight-1);
  color: var(--text-2);
}

:where(h1) {
  font-size: var(--font-size-8);
  //line-height: var(--font-lineheight-0);
}

:where(h2) {
  font-size: var(--font-size-7);
  //line-height: var(--font-lineheight-0);
}

:where(h3) {
  font-size: var(--font-size-6);
  //line-height: var(--font-lineheight-0);
}

:where(h4) {
  font-size: var(--font-size-5);
  //line-height: var(--font-lineheight-1);
}

:where(h5) {
  font-size: var(--font-size-4);
  //line-height: var(--font-lineheight-1);
}

:where(h6) {
  font-size: var(--font-size-3);
  //line-height: var(--font-lineheight-1);
}

svg text {
  font-size: 0.8rem;
}
