.htd-accordion {
  overflow: hidden;
  padding: var(--size-2) var(--size-3);

  &__heading {
    font-size: var(--font-size-2);
    margin-bottom: var(--size-3);
  }

  &__content {
    height: 0;
    overflow-y: scroll;

    &--open {
      height: max-content;
      max-height: 100vh;
    }
  }

  &__button {
    background-color: transparent;
    border: none;
    display: flex;
    gap: var(--size-2);
    cursor: pointer;
  }
}
