:root {
  --btn-font-size: 1em;
  --btn-sm: calc(var(--btn-font-size) - 0.2em);
  --btn-md: calc(var(--btn-font-size) + 0.2em);
  --btn-lg: calc(var(--btn-font-size) + 0.4em);

  --btn-radius: 20em;
  --btn-border: 2px;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  white-space: nowrap;
  text-decoration: none;
  outline: none;
  line-height: 1; // to have equal top and bottom spacing
  cursor: pointer;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding: var(--space-sm) var(--space-md);
  border-radius: var(--btn-radius);
  border: none;
  border: var(--btn-border) solid;
  font-size: var(--btn-font-size);
  color: white;
  font-weight: bold;

  transition: 0.2s;

  &:active {
    transition: none;
  }
}

/* themes */
.btn--primary {
  background-color: var(--color-blue);
  color: white;
  border-color: var(--color-blue);

  /* &:visited {
    color: var(--color-blue);
    border-color: var(--color-blue);
  } */

  &:hover {
    background-color: var(--color-blue-dark);
    border-color: var(--color-blue-dark);
  }

  &:active {
    background-color: var(--color-blue-darker);
    border-color: var(--color-blue-darker);
  }
}

.btn--secondary {
  background-color: var(--color-green);
  color: white;
  border-color: var(--color-green);

  /*  &:visited {
    color: var(--color-green-darker);
    border-color: var(--color-green-darker);
  } */

  &:hover {
    background-color: var(--color-green-dark);
    border-color: var(--color-green-dark);
  }

  &:active {
    background-color: var(--color-green-darker);
    border-color: var(--color-green-darker);
  }
}

.btn--ghost {
  background-color: transparent;
  color: var(--color-teal-light);
  border-color: var(--color-teal-light);

  /* &:visited {
    color: white;
    color: var(--color-teal-dark);
    background-color: var(--color-teal-dark);
    border-color: var(--color-teal-dark);
  } */

  &:hover {
    color: white;
    background-color: var(--color-teal);
    border-color: var(--color-teal);
  }

  &:active {
    color: white;
    background-color: var(--color-teal-dark);
    border-color: var(--color-teal-dark);
  }
}

/* button size */
.btn--sm {
  font-size: var(--btn-sm);
}

.btn--md {
  font-size: var(--btn-md);
}

.btn--lg {
  font-size: var(--btn-lg);
}

.btn--full-width {
  //display: flex;
  width: 100%;
  //justify-content: center;
}

/* button container */
.btns-group {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  align-items: center; // to prevent different size buttons stretching to same height
}
