.htd-footer {
  background-color: var(--htd-color-blue-1);
  color: white;
  padding: var(--size-3);
  border-top: 1px solid var(--blue-7);

  p {
    margin: 0;
    margin-inline: auto;

    text-align: center;
  }
  img {
    margin-inline: auto;
    margin-bottom: var(--size-3);
    display: block;
    width: 8rem;
  }
}
