///////////////////////////////////////////////
// HEADER
.header-container {
  background-image: var(--color-gradient-ht-theme);
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--space-md);
  padding: var(--component-padding);
  font-weight: bold;

  &__nav {
    margin-left: auto;
  }

  &__logo {
    width: auto;
    height: 4rem;
  }
}
