///////////////////////////////////////////////
// HEADER
.header-container {
  background-image: var(
    --color-gradient-ht-theme
  ); /* linear-gradient(
    to right,
    var(--color-blue-600) 0%,
    var(--color-blue-400) 35%,
    var(--color-green-400) 65%,
    var(--color-green-600) 100%
  );
 */
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  padding: var(--component-padding);
  font-weight: bold;

  &__nav {
    margin-left: auto;
  }

  &__logo {
    width: auto;
    height: 4rem;
  }
}
