:root {
  --input-border: 3px;
}

.input-field {
  padding: 0;
  padding-bottom: var(--space-md);
  min-width: 5rem;

  label {
    cursor: pointer;
  }

  &__error {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
    padding-top: var(--space-xxs);
    color: red;

    small {
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: var(--font-weight-standard);
    }
  }
}

.radio-group {
  margin-top: var(--space-xxs);
  display: flex;
  gap: var(--space-md);
  user-select: none;

  &__element {
    display: flex;
    gap: var(--space-sm);
    cursor: pointer;
    font-weight: var(--font-weight-standard);
  }

  &__input {
    width: 30px;
    height: 30px;
    background-color: white;
    position: relative;
    border-radius: 50%;
    border: var(--input-border) solid var(--color-blue);

    &:after {
      content: "";
      position: absolute;
      left: 4px;
      top: 4px;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: var(--color-blue);
      display: none;
    }

    &--selected {
      &:after {
        display: block;
      }
    }
  }
}

.checkbox {
  margin-top: var(--space-xxs);
  display: flex;
  gap: var(--space-sm);
  cursor: pointer;
  user-select: none;
  font-weight: var(--font-weight-standard);

  &__input {
    width: 30px;
    height: 30px;
    background-color: white;
    position: relative;
    display: inline-block;

    border: var(--input-border) solid var(--color-blue);

    &:after {
      content: "";
      position: absolute;
      left: 8px;
      top: 3px;
      width: 10px;
      height: 15px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      display: none;
    }

    &--checked {
      background-color: var(--color-blue);

      &:after {
        display: block;
      }
    }
  }
}

.file {
  margin-top: var(--space-xxs);
  background-color: var(--color-grey-lighter);
  display: flex;
  align-items: baseline;
  padding: var(--space-xs);
  gap: var(--space-xs);

  &__remove {
    color: red;
    cursor: pointer;
  }

  &__list {
    background-color: var(--color-grey-lighter);
    position: relative;
    padding: var(--space-sm);

    li {
      display: flex;
      align-items: center;
      gap: var(--space-xs);
    }

    &::before {
      content: "";
      width: 100%;
      border-bottom: solid var(--input-border) var(--color-blue);
      position: absolute;
      left: 0;

      top: -var(--input-border);
      //z-index: 1;
    }
  }
}

.input,
.textarea {
  margin-top: var(--space-xxs);
  padding: var(--space-xs);
  background-color: var(--color-grey-lighter);

  width: 100%;

  border: none;
  border-bottom: var(--input-border) solid transparent;
  outline: none;

  &:focus {
    border-bottom: var(--input-border) solid var(--color-blue);
  }

  &--error {
    border-bottom: var(--input-border) solid red;
  }

  &::placeholder {
    font-weight: var(--font-weigth-light);
    opacity: 0.5;
    color: rgb(91, 91, 91);
  }
}

.textarea {
  height: 6rem;
  min-height: 4.5rem;
  resize: vertical;
}

.select {
  margin-top: var(--space-xxs);
  position: relative;
  user-select: none;
  background-color: var(--color-grey-lighter);
  cursor: pointer;

  outline: none;

  &--error {
    border-bottom: var(--input-border) solid red;
  }

  &__overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  &__input {
    cursor: pointer;
    background-color: var(--color-grey-light);
  }

  &__selection {
    cursor: pointer;
    user-select: none;
    width: 100%;
    position: relative;
    padding: var(--space-xs);
    line-height: var(--body-line-height);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &--empty {
      color: #7a7a7a;
    }

    &:after {
      position: absolute;
      content: "";
      top: 20px;
      right: 11px;
      width: 0;
      height: 0;
      border: 4px solid transparent;
      border-color: var(--color-grey-darker) transparent transparent transparent;
    }
  }

  &__options {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: var(--color-grey-light);
    border: var(--input-border) solid var(--color-blue);
  }

  &__option {
    padding: 1rem;
    min-height: 4.5rem;
    cursor: pointer;

    &:hover {
      background-color: var(--color-blue);
      color: white;
    }
  }
}

///////////////////////////////////////////////
// SEARCHBAR
.search {
  position: relative;

  input {
    padding-right: var(--space-lg);
  }

  &__icon {
    color: var(--color-grey-dark);
    position: absolute;
    right: var(--space-xxs);
    top: var(--space-sm);
  }
}

///////////////////////////////////////////////
// TOGGLE SWITCH
.toggle {
  margin-top: var(--space-xxs);
  display: flex;
  gap: var(--space-sm);
  cursor: pointer;
  user-select: none;
  font-weight: var(--font-weight-standard);

  &__input {
    width: 5rem;
    height: 3rem;
    background-color: white;
    border: var(--input-border) solid var(--color-blue);
    border-radius: 3.4rem;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      left: 0.5rem;
      top: 0.4rem;
      width: 1.8rem;
      height: 1.8rem;
      border-radius: 50%;
      background-color: var(--color-blue);
      transition: transform 0.2s ease;
    }

    &--selected {
      &:after {
        transform: translate(1.9rem);
      }
    }
  }
}
