:root {
  --input-border: 2px;
  --input-control-height: var(--font-size-4);
}

///////////////////////////////////////////////
// FORM GROUP
.htd-formgroup {
  display: grid;
  gap: var(--size-2);

  & > label {
    font-weight: var(--font-weight-4);
  }

  &__errormessage {
    display: flex;
    align-items: center;
    gap: var(--size-2);
    color: var(--red-6);
  }
}

///////////////////////////////////////////////
// FILE INPUT

.htd-filefield {
  cursor: pointer;
  border: none;

  background-color: var(--surface-3);
  position: relative;
  overflow: hidden;

  border-radius: 0;
  color: transparent;
  line-height: var(--font-lineheight-4);
  border-top-left-radius: var(--input-border);
  border-bottom-left-radius: var(--input-border);

  &__label {
    color: var(--text-1);
    position: absolute;
    padding-right: 2em;
    left: 7rem;
    top: 0.2rem;
    display: block;
    width: min-content;
  }
}

input.htd-filefield::file-selector-button {
  all: unset;
  color: white;
  background-color: var(--brand);
  padding: var(--size-1);
  border-radius: var(--input-border);
  transition: 0.2s;
}

.htd-filefield-container {
  display: block;
  width: max-content;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

///////////////////////////////////////////////
// FILE INPUT
.htd-textfield {
  border: none;
  outline: none;
  background-color: var(--surface-3);
  border-bottom: var(--input-border) solid transparent;
  padding: var(--size-2);
  border-radius: 0;
  color: var(--text-1);

  &:focus {
    border-bottom: var(--input-border) solid var(--blue-6);
  }

  &::placeholder {
    opacity: 90%;
  }
}

textarea.htd-textfield {
  min-height: 4rem;
  resize: vertical;
}

///////////////////////////////////////////////
// RADIOGROUP
.htd-radiogroup {
  display: flex;
  gap: var(--size-5);
  padding-left: var(--size-2);

  @media only screen and (max-width: 700px) {
    flex-direction: column;
  }
}

.htd-radiofield {
  display: flex;

  align-items: center;
  gap: var(--size-2);
  cursor: pointer;
}

.htd-radio {
  cursor: pointer;
  width: var(--input-control-height);
  aspect-ratio: 1 / 1;
}

///////////////////////////////////////////////
// CHECKBOX
.htd-checkbox {
  cursor: pointer;
  display: flex;
  gap: var(--size-2);

  &__input {
    width: var(--input-control-height);
    aspect-ratio: 1 / 1;
    cursor: pointer;
  }

  label {
    cursor: pointer;
  }
}

///////////////////////////////////////////////
// SEARCHBAR
.htd-search {
  position: relative;
  input[type="text"] {
    padding-right: var(--size-6);
  }

  i {
    color: var(--grey-9);
    position: absolute;
    right: 2px;
    top: 8px;
  }
}

///////////////////////////////////////////////
// TOGGLE SWITCH
.htd-toggle {
  display: flex;
  align-items: center;
  gap: var(--size-2);

  input[type="checkbox"] {
    cursor: pointer;
    appearance: none;
    width: 2.5rem;
    height: var(--input-control-height);
    outline: 2px solid var(--blue-6);
    border-radius: 3.4rem;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      left: 0.1rem;
      top: 0.12rem;
      width: calc(var(--input-control-height) - 4px);
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      background-color: var(--blue-6);
      transition: transform 0.2s ease;
    }
  }
  input[type="checkbox"]:checked {
    &:after {
      transform: translate(1.5rem);
    }
  }
}
