:root {
  --pagination-border: 2px;
}

.htd-pagination {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: var(--size-4);

  &__navigation {
    cursor: pointer;
  }

  &--disabled {
    cursor: no-drop;
  }

  &__page {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    border-radius: 100%;
    transition: all 0.3s ease-out;
    user-select: none;
    border: var(--pagination-border) solid var(--gray-4);
    padding: var(--size-1);
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: var(--blue-4);
      border-color: var(--blue-4);

      color: white;
    }

    &:active {
      background-color: var(--blue-4);
      color: white;
    }

    &--selected {
      background-color: var(--blue-6);
      border-color: var(--blue-6);
      color: white;
    }
  }
}
