.sidenav {
  width: 20rem;
  min-height: 100vh;
  color: white;
  background-color: var(--color-blue-dark);

  &__title {
    padding: var(--component-padding);
  }

  &__list {
    list-style: none;
  }

  &__item {
    width: 100%;
    padding: var(--component-padding);
    margin-bottom: var(--space-xxs);
    cursor: pointer;

    &--active {
      background-color: var(--color-green);
    }

    span {
      display: block;
      transition: transform 0.3s ease-in-out;
    }

    &:hover,
    &:focus {
      background-color: var(--color-green);
      span {
        transform: translateX(0.5em);
        transition: transform 0.3s ease-in-out;
      }
    }
  }
}
