.htd-sidenav {
  width: 16rem;
  min-height: 100vh;
  height: 100%;
  color: white;
  background-color: var(--blue-9);
  padding-block: var(--size-3);
  position: relative;
  transition: transform 0.2s ease-out;
  z-index: var(--layer-important);

  &--hidden {
    transform: translateX(-100%);
  }

  &--fixed {
    position: fixed;
    left: 0;
    top: 0;
  }

  &__menubutton {
    z-index: var(--layer-1);
    position: absolute;
    right: -3rem;
    top: 0.5rem;
    background-color: var(--blue-9);
    border: 1px solid var(--gray-6);
    padding: var(--size-2);
    display: flex;
    align-items: center;

    border-radius: 5px;
  }

  &__logolink {
    display: block;
    width: 9rem;
    padding-inline: var(--size-2);
    margin: auto;
    margin-bottom: var(--size-3);
  }

  &__logo {
    width: 100%;
  }

  &__title {
    padding-inline: var(--size-2);
    margin-bottom: var(--size-2);
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-5);
  }

  ul {
    list-style: none;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: var(--size-3);
    width: 100%;
    padding: var(--size-2) var(--size-3);
    margin-bottom: var(--size-1);
    cursor: pointer;

    &--active {
      background-color: var(--green-6);
    }

    span {
      transition: transform 0.3s ease-in-out;
    }

    &:hover,
    &:focus {
      background-color: var(--green-4);
      span {
        transform: translateX(0.5em);
        transition: transform 0.3s ease-in-out;
      }
    }
  }
}
