///////////////////////////////////////////////
// UPLOADS

.htd-uploadcontroller {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 5rem 3rem;
  align-items: center;

  column-gap: var(--size-2);
  margin-top: var(--size-2);
  margin-bottom: var(--size-3);

  &__icon {
    grid-column: -2/-1;

    &--delete {
      color: var(--red-6);
      cursor: pointer;
    }

    &--uploaded {
      color: var(--green-6);
      cursor: auto;
    }

    &--remove {
      color: var(--red-6);
      cursor: pointer;
    }
  }

  &__file {
    grid-column: 1/ 2;
    display: flex;
    align-items: center;
    gap: var(--size-2);
  }

  &__percentage {
    grid-column: 2/3;
    font-weight: bold;
    justify-self: end;
  }

  &__status {
    grid-column: 1/3;
    grid-row: 2/3;
    font-size: var(--text-sm);
  }

  &__progressbarcontainer {
    height: 5px;
    background-color: var(--gray-4);
  }

  &__progressbar {
    background-color: var(--green-6);
    height: 5px;
    transition: width 0.2s ease-in-out;
  }
}
