.htd-user {
  position: relative;

  &__menu {
    position: absolute;
    font-weight: normal;

    top: 100%;
    right: 0px;
    min-width: 100%;

    z-index: var(--layer-1);
  }

  button {
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    border: none;
  }
}

.htd-userlink {
  color: inherit;
  text-decoration: none;
}
